version: "3.9"

services:
  nextjs:
    container_name: next-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "172.22.228.224:3000:3000"
    volumes:
      # Mount the whole project folder
      - ./:/app
      # Keep node_modules inside container
      - /app/node_modules
    environment:
      - WATCHPACK_POLLING=true
